@model EventTracker.ViewModels.HostsFollowingViewModel
@{
    ViewBag.Title = "HostsFollowing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="list-group-item-heading">Hosts Following</h2>
<ul class="hosts-following list-group voffset5">
    @foreach (var followee in Model.HostsFollowing)
    {
        <li class="list-group-item">
            @followee.Name
            <br/>
        </li>
    }
</ul>
