@model IEnumerable<EventTracker.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var anEvent in Model)
    {
        <li>@anEvent.DateTime - @anEvent.Venue -@anEvent.Host.Name</li>
    }
</ul>